/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body, html{
  height: 100%;
}

.active{
  color: #007f7f;
}


.nav-wrapper{
 
  background-color: white !important;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #007f7f;
}



#img{
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("../Images/Background/background_chisinau.jpg");

  /* Full height */
  height: 100%; 
  padding-bottom: 70%;
  margin-top: -250px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Place text in the middle of the image */
#content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#taken-icons{
  background-color: rgba(0,0,0,0.5);
}

#taken-icons .row .col-6{
  padding:35px;
}

@media only screen and (max-width : 992px) {

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
