<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Home page - Construction site Alec</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper">


      <ul id="navbar-links" class="left hide-on-med-and-down">
        <li><a href="#" class="navbar-brand"><img src="../Images/Logo/logo - ok-2.png" height="50" alt="logo"> </a></li>
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">About</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="header-container">
    <div id="img"></div>
    <div id="content" class="container row">
      <div id="intro" class="col-md-5">
        <h3>Edward Star Company</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis dolor nemo, voluptate eum placeat ratione
          optio quibusdam ipsa, facere possimus minus explicabo sunt aliquam unde voluptatibus, aliquid facilis quasi
          voluptas?</p>
      </div>
      <div class="col-md-2"></div>
      <div id="taken-icons" class="col-md-5">
        <div class="row row-eq-height">
          <div class="col-6">
            <!--Renovatie-->
              <i class="fas fa-paint-roller fa-2x"></i>
              <hr class="bg-white">
          </div>
          <div class="col-6">            
            <!--Sanitair-->
              <i class="fas fa-shower fa-2x"></i>
          </div>
          <div class="col-6">
              <!--Elektriciteit-->
              <i class="fas fa-bolt fa-2x"></i>
          </div>
          <div class="col-6">
              <!--Roofing + isolatie-->
              <i class="fas fa-layer-group fa-2x"></i>
          </div>
          <div class="col-6">
              <!--Vloer-->
              <i class="fab fa-microsoft fa-2x"></i>
          </div>
          <div class="col-6">
              <!--Dak-->
              <i class="fas fa-angle-up fa-3x"></i>
          </div>

        </div>

      </div>
    </div>
  </div>




  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://kit.fontawesome.com/4469bb05bb.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script src="../js/materialize.js"></script>
  <script src="../js/init.js"></script>

</body>

</html>