<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Home page - Construction site Alec</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald:700&display=swap" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <nav class="white navbar" role="navigation">
    <div class="nav-wrapper">


      <ul id="navbar-links" class="left hide-on-med-and-down">
        <li><a href="index.html" class="navbar-brand"><img src="../Images/Logo/logo - ok-2.png" height="50" alt="logo">
          </a></li>
        <li><a href="index.html" class="">Home</a></li>
        <li class="nav-item dropdown">
          <a class="nav-item dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Renoveren
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="sanitair.html">Sanitair</a>
            <a class="dropdown-item" href="el.html">El</a>
            <a class="dropdown-item" href="roofing_isolatie.html">Roofing</a>
            <a class="dropdown-item" href="vloer.html">Tegels</a>
            <a class="dropdown-item" href="dak.html">Dak</a>
          </div>
        </li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">About</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="row justify-content-center">
      <div class="col-12 serviceTitle">
        <h2>Renovaties</h2>
    </div>
    <div class="row before_after justify-content-center">
      <div class="before_div col-md-5"></div>
      <div class="after_div col-md-5"></div>

    </div>

<div class="row justify-content-center" id="allImages">
  <div class="col col-md-5" id="image_01"><img src="../Images/Renovations/after_bathroom_1.png" alt=""></div>
  <div class="col col-md-7" id="image_02"><img src="../Images/Renovations/after_bathroom_2.png" alt=""></div>
  <div class="col col-md-12 align-self-center" id="image_03"><img src="../Images/Renovations/after_bedroom_1.png" alt=""></div>
  <div class="col col-md-8" id="image_04"><img src="../Images/Renovations/after_kitchen_1.png" alt=""></div>
  <div class="col col-md-3" id="image_05"><img src="../Images/Renovations/after_kitchen_2.png" alt=""></div>
  <div class="col col-md-9" id="image_06"><img src="../Images/Renovations/after_room_1.png" alt=""></div>
  <div class="col col-md-12" id="image_07"><img src="../Images/Renovations/after_room_2.png" alt=""></div>
</div>

  </div>





  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://kit.fontawesome.com/4469bb05bb.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

  <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script type="text/javascript" src="https://cdn.jotfor.ms/before-after/before-after.min.js"></script>
  <script src="../js/materialize.js"></script>
  <script src="../js/init.js"></script>

</body>

</html>