<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Home page - Construction site Alec</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald:700&display=swap" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <nav class="white navbar" role="navigation">
    <div class="nav-wrapper">


      <ul id="navbar-links" class="left hide-on-med-and-down">
        <li><a href="index.html" class="navbar-brand"><img src="../Images/Logo/logo - ok-2.png" height="50" alt="logo"> </a></li>
        <li><a href="index.html" class="">Home</a></li>
        <li class="nav-item dropdown">
            <a class="nav-item dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sanitair
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="renovatie.html">Renoveren</a>
              <a class="dropdown-item" href="el.html">El</a>
              <a class="dropdown-item" href="roofing_isolatie.html">Roofing</a>
              <a class="dropdown-item" href="vloer.html">Tegels</a>
              <a class="dropdown-item" href="dak.html">Dak</a>
            </div>
          </li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">About</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>



  

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://kit.fontawesome.com/4469bb05bb.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script src="../js/materialize.js"></script>
  <script src="../js/init.js"></script>

</body>

</html>